*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--hue: 150;
	--saturation: 50%;
	--foreground-color: hsl(var(--hue), var(--saturation), 80%);
	--background-color: hsl(var(--hue), var(--saturation), 20%);
	--score-background-color: hsl(var(--hue), var(--saturation), 10%);
	--line-color: hsl(var(--hue), var(--saturation), 30%);
}

body {
	margin: 0;
	background-color: var(--background-color);
	overflow: hidden;
	font-size: 5vh;
	font-weight: bold;
}

.score {
	display: flex;
	justify-content: center;
	height: 7.5vh;
	color: var(--foreground-color);
	background-color: var(--score-background-color);
}

.score > div {
	flex-grow: 1;
	flex-basis: 0;
	margin: 1vh 0;
	padding: 0 7vw;
}

#player1-score {
	text-align: right;
	border-right: 0.75vh solid var(--foreground-color);
}

.message > div {
	position: relative;
	align-items: center;
	justify-content: center;
	height: 5vh;
	transform: translateY(-50%);
	color: var(--foreground-color);
	background-color: var(--background-color);
	z-index: 2;
}

#start-message {
	display: flex;
	top: 42.25vh;
}

#end-message {
	display: none;
	top: 15vh;
}

.ball {
	--x: 50;
	--y: 50;

	position: absolute;
	background-color: var(--foreground-color);
	top: calc(var(--y) * 1vh);
	left: calc(var(--x) * 1vw);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: 2.5vh;
	height: 2.5vh;
	z-index: 1;
}

.paddle > div {
	--position: 50;

	position: absolute;
	background-color: var(--foreground-color);
	top: calc(var(--position) * 1vh);
	transform: translateY(-50%);
	width: 1vh;
	height: 10vh;
	z-index: 3;
}

#player1-paddle {
	left: 2.5vw;
}

#player2-paddle {
	right: 2.5vw;
}

.line {
	position: absolute;
	top: 8.75vh;
	left: 50%;
	border-left: 1vh dashed var(--line-color);
	height: 90vh;
	transform: translateX(-50%);
}
