*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	cursor: none;
	--hue: 150;
	--saturation: 50%;
	--foreground-color: hsl(var(--hue), var(--saturation), 80%);
	--background-color: hsl(var(--hue), var(--saturation), 20%);
	--score-background-color: hsl(var(--hue), var(--saturation), 10%);
	--line-color: hsl(var(--hue), var(--saturation), 30%);
	--ball-color: #fcb404;
}

body {
	margin: 0;
	background-color: var(--background-color);
	overflow: hidden;
	font-size: 5vh;
	font-weight: bold;
}

.score {
	cursor: default;
	display: flex;
	justify-content: center;
	height: 7.5vh;
	color: var(--foreground-color);
	background-color: var(--score-background-color);
}

.score > div {
	flex-grow: 1;
	flex-basis: 0;
	margin: 1vh 0;
	padding: 0 7vw;
}

#player1-score {
	text-align: right;
	border-right: 0.75vh solid var(--foreground-color);
}

.message > div {
	position: relative;
	align-items: center;
	text-align: center;
	justify-content: center;
	left: 50vw;
	height: 8vh;
	width: 27.5vw;
	transform: translate(-50%, -50%);
	color: var(--foreground-color);
	background-color: var(--background-color);
	z-index: 2;
}

#start-message {
	display: flex;
	top: 42.25vh;
}

#end-message {
	display: none;
	top: 15vh;
}

.ball {
	--x: 50;
	--y: 50;

	position: absolute;
	background-color: var(--ball-color);
	top: calc(var(--y) * 1vh);
	left: calc(var(--x) * 1vw);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: 3vh;
	height: 3vh;
	z-index: 1;
}

.paddle > div {
	--position: 50;

	position: absolute;
	background-color: var(--foreground-color);
	top: calc(var(--position) * 1vh);
	transform: translateY(-50%);
	width: 1vh;
	height: 10vh;
	z-index: 3;
}

#player1-paddle {
	left: 2.5vw;
}

#player2-paddle {
	right: 2.5vw;
}

.line > div {
	position: absolute;
	top: 7.5vh;
}

#vertical-line {
	top: 8.5vh;
	left: 50%;
	height: 99vh;
	border-left: 1vh dashed var(--line-color);
	transform: translateX(-50%);
}

#horizontal-line {
	top: 50vh;
	width: 100vw;
	border-bottom: 1vh solid #dddddd;
	transform: translateY(-50%);
}

#top-border-line {
	width: 100vw;
	border-top: 1vh solid #dddddd;
}

#bottom-border-line {
	top: 99vh;
	width: 100vw;
	border-bottom: 1vh solid #dddddd;
}

#left-border-line {
	height: 92.5vh;
	border-left: 1vh solid #dddddd;
	z-index: 2;
}

#right-border-line {
	right: 0vh;
	height: 92.5vh;
	border-right: 1vh solid #dddddd;
	z-index: 2;
}
